pramaan-detector/weights/*.safetensors filter=lfs diff=lfs merge=lfs -text
pramaan-detector/weights/*.pth filter=lfs diff=lfs merge=lfs -text
pramaan-detector/weights/*.pt filter=lfs diff=lfs merge=lfs -text
